@import "../node_modules/nakds/dist/css/nakDS.min.css";
@import "fonts.css";
@import "slider.css";
@import "efects.css";
@import "animations/animations.css";
@import "show-events.css";
@import "table.css";
@import "timer.css";

:root {
  --color: #e84d7a;
}

/* Specific to this project */

.button {
  background: none;
  border: 0;
  cursor: pointer;

  &:hover {
    & path {
      fill: var(--color--k-7);
    }
  }
}

.nk-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  object-fit: contain;
  pointer-events: none;
}

.nk-bg-image--left {
  object-position: left;
}

.nk-bg-image--right {
  object-position: right;
}

.nk-bg-image--right--sm {
  @media (--small) {
    object-position: right;
  }
}

.nk-heading--1 {
  margin-bottom: var(--xxxx-large);
}

/* grid */

.nk-grid-2 {
  & img {
    width: 50vw;
  }
}

/* Images */

.nk-object-fit--cover {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.nk-cover__title {
  line-height: 1;
}

.nk-theme--dark {
  & .nk-cover__title {
    text-shadow: 4px 4px 10px var(--color--k-9);
  }
}

.fixed {
  position: absolute;
  top: 25%;
  left: 0%;
}

/* .bg-cover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
} */

.cp_embed_wrapper {
  width: 100vw;
  height: 90vh;
  margin-top: auto;

  & iframe {
    height: 100%;
  }
}

.notes {
  position: absolute;
  bottom: 2em;
  color: red;
  width: 80vw;
  left: 10vw;
  /* display: none; */
}

.highlight {
  display: inline-block;
  margin-bottom: 0.2em;
  padding: 0 var(--spacer);
  background: var(--color--m);
  color: var(--color--k-10);
}

.grid-logos {
  & img {
    max-height: 200px;
  }
}

.nk-align-items--center {
  align-items: center;
}

.nk-justify-content--center {
  justify-content: center;
}

.nk-justify-items--center {
  justify-items: center;
}

.index {
  list-style: none;
  position: fixed;
  z-index: 3;
  left: var(--spacer);
  bottom: var(--spacer);
  display: flex;
  & a {
    text-decoration: none;
    margin-right: var(--spacer);
  }
}

[class^="nk-absolute"],
[class*=" nk-absolute"] {
  position: absolute;
}

.nk-absolute--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-edge {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;

  & img {
    display: none;
  }

  &:hover {
    & img {
      display: block;
    }
  }
}

.nk-heading--1 {
  margin-bottom: 0;
}

.nk-slide:hover {
  & .crown {
    transform: translateY(40px);
    transition: 1s;
  }
}

.nk-align-self--end {
  align-self: flex-end;
}

.text-primary-dark {
  color: color-mix(var(--theme-primary), black 10%);
  }
  
  .text-primary-darker {
  color: color-mix(var(--theme-primary), black 20%);
  }