.layout-table-example {
  border: 1px dashed var(--color--k-5);
  margin: 80px;
  & td,
  & th {
    border: 1px dashed var(--color--k-5);
    background-size: contain;
  }
}

.show-edge {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;

  & img {
    display: none;
  }

  &:hover {
    & img {
      display: block;
    }
  }
}